@page
@model FlowerBeauty.Views.Home.AboutModel

    @{
        ViewData["Title"] = "About Page";
    }


    <h1>About Us</h1>

    <p>
        Welcome to Flower Beauty., your go-to destination for beautiful and fresh flowers.
        Our company is headquartered in a quaint town known for its lush gardens and passionate florists.
        Our dedicated staff is committed to providing you with the finest floral arrangements and products.
    </p>

    <p>
        Our products are carefully selected and crafted to bring the beauty of nature to your doorstep.
        With a wide range of options, we're sure you'll find the perfect arrangement for any occasion.
    </p>
