@{
    ViewData["Title"] = "About Us";
}

<h1 class="about">About Us</h1>
<div class="about-p">
    <p>
        Welcome to Flower Beauty Shop, your go-to destination for beautiful and fresh flowers.
        Our company is headquartered in a quaint town known for its lush gardens and passionate florists.
        Our dedicated staff is committed to providing you with the finest floral arrangements and products.
    </p>

    <p>
        Our products are carefully selected and crafted to bring the beauty of nature to your doorstep.
        With a wide range of options, we're sure you'll find the perfect arrangement for any occasion.
    </p>
</div>