
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

/*home style*/
body {
    font-family: 'Young Serif', sans-serif;
}

/*header style*/
header nav {
    background-color:lightskyblue;
}

.text-center {
    margin-top:80px;
}

body {
    background-image: url('/images/flower.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
/* about page style*/
.about {
    text-align:center;
    margin-top:50px;
}

.about-p {
    margin:50px;
    text-align:center;
}

.main {
    display: flex;
    justify-content:space-between;
}
.main-product {
    display: flex;
    justify-content: center; 
}

.product {
    margin: 10px;
    width: 30%;
    height: auto;   
}
img{
    width: auto;
    height: 250px;
}

/*table style*/
.table  {
    background-color:lightskyblue;
    box-shadow:inset;
}
/*footer style*/
.footer {
    text-align: center;
    background-color: dodgerblue;
}
.container{
    color:#000000;
}